{% extends "navigation.html" %}
{% block content %}
<body>
  <h1>Storytellers</h1>
  <p>Hi {{ current_user.firstname }}! <a href="/logout">Logout</a> </p>
  <p>Score: {{stats}}</p>
  <h2>Your Stories</h2>
  {% for story in stories%}
    <ul>
        <li>
            <h3 style="display: inline;"> <a href="/story/{{story.id}}">{{story.title}}</a></h3>
            <p style="display: inline;">Posted on ({{story.date.strftime("%d/%m/%Y %H:%M")}})</p>
            <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 400px;"><i>"{{story.text}}"</i></p>
            <p>Likes: {{story.likes}} Dislikes: {{story.dislikes}} </p>
        </li>
      </ul>
  {% endfor %}
</body>
{%endblock%}