{% extends "navigation.html" %}
{% block content %}
<body>
    <h1>Story List</h1>
    <h5>{{message}}</h5>
    <ul>
    {% for story in stories: %}
        <li>
            <h3 style="display: inline;"> <a href="/story/{{story.id}}">{{story.title}}</a></h3>
            <p style="display: inline;">by <a href="/wall/{{story.author_id}}">{{story.author.firstname}} {{story.author.lastname}}</a></p>
            <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 400px;"><i>"{{story.text}}"</i></p>
            <p>Likes: {{story.likes}} Dislikes: {{story.dislikes}} ({{story.date.date()}})</p>
        </li>
    {% endfor %}
    </ul>
</body>
{%endblock%}
