<html>
<body>
    <h1>Story</h1>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    {% if story %}
        <p>{{story.text}}</p>
        <p>Likes: {{story.likes}} Dislikes: {{story.dislikes}} ({{story.date}})</p>
        <a href="{{url}}{{story.id}}/like">Like it!</a>
        <a href="{{url}}{{story.id}}/dislike">Dislike it!</a>
        <a href="{{url}}{{story.id}}/remove_like">Remove your like</a>
        <a href="{{url}}{{story.id}}/remove_dislike">Remove your dislike</a>
    {% endif %}
  </body>
</html>
