<html>
<body>
    <h1>Story List</h1>
    <h5>{{message}}</h5>
    <ul>
    {% for story in stories: %}
        <li>
        "{{story.text}}"    Likes: {{story.likes}} Dislikes: {{story.dislikes}} ({{story.date}})
        {% if current_user.is_authenticated %}
            <a href="{{url}}{{story.id}}/like">Like it!</a>
            <a href="{{url}}{{story.id}}/dislike">Dislike it!</a>
            <a href="{{url}}{{story.id}}/remove_like">Remove your like</a>
            <a href="{{url}}{{story.id}}/remove_dislike">Remove your dislike</a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
