{% extends "navigation.html" %}
{% block content %}
  <body>
    <body>
      <h1>Writers List</h1>
      <ul>
        {% for entry in data: %}
        <li>
          <h3><a href="/wall/{{entry[0].id}}">{{entry[0].firstname}} {{entry[0].lastname}}</a></h3>
          {% if entry[1] %}
          <p>Last story: <a href="/story/{{entry[1].id}}">{{entry[1].title}}</a></p>
          {% else %}
          <p>No stories written yet</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </body>
  {%endblock%}
