{% extends "navigation.html" %}
{% block content %}
<body>
    <h1>Storytellers</h1>
    <p>Welcome to {{author.firstname}} {{author.lastname}} page!</p>
    {% if author.id != current_user.id %}
        {% if alreadyFollowing %}
        <a href="/wall/{{author.id}}/unfollow">Unfollow</a>
        {%else%}
        <a href="/wall/{{author.id}}/follow">Follow</a>
        {%endif%}
    {%endif%}
    <h2>Stories</h2>
    {% for story in stories%}
        <ul>
            <li>
                <h3 style="display: inline;"> <a href="/story/{{story.id}}">{{story.title}}</a></h3>
                <p style="display: inline;">Posted on ({{story.date}})</p>
                <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 400px;"><i>"{{story.text}}"</i></p>
                <p>Likes: {{story.likes}} Dislikes: {{story.dislikes}} </p>
            </li>
        </ul>
    {% endfor %}
</body>
{%endblock%}
